# Additional config options to make the kernel work with syzkaller and evtrack
# Based on: https://github.com/google/syzkaller/blob/master/docs/linux/kernel_configs.md
#
# 1. make defconfig
# 2. ./scripts/kconfig/merge_config.sh .config evtrack.config
# 3. make

# To enable coverage collection
CONFIG_KCOV=y
CONFIG_KCOV_INSTRUMENT_ALL=y
CONFIG_KCOV_ENABLE_COMPARISONS=y
CONFIG_DEBUG_FS=y

# To show code coverage in web interface
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y

# For detection of enabled syscalls and kernel bitness
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

# For better sandboxing
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y
CONFIG_CGROUP_PIDS=y
CONFIG_MEMCG=y

# For namespace snadbox
CONFIG_USER_NS=y

# Debian images produced by tools/create-image.sh also require
CONFIG_CONFIGFS_FS=y
CONFIG_SECURITYFS=y

# For predictable kernel addresses
CONFIG_RANDOMIZE_BASE=n

# For predictable network interface names
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="net.ifnames=0"

# For use-after-free and out-of-bounds detection
CONFIG_KASAN=y
CONFIG_KASAN_OUTLINE=y

# For correct stack traces
CONFIG_KASAN_STACK=y
CONFIG_DEBUG_STACK_USAGE=y

# To enable evtrack module
CONFIG_EVTRACK=y

# Disable locking support, enabling this config will slow down
CONFIG_PROVE_LOCKING=n
CONFIG_DEBUG_TIMEKEEPING=n
CONFIG_DEBUG_RT_MUTEXES=n
CONFIG_DEBUG_SPINLOCK=n
CONFIG_DEBUG_MUTEXES=n
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=n
CONFIG_DEBUG_RWSEMS=n
CONFIG_DEBUG_LOCK_ALLOC=n
CONFIG_DEBUG_ATOMIC_SLEEP=n
CONFIG_TRACE_IRQFLAGS=n
CONFIG_TRACE_IRQFLAGS_NMI=n
CONFIG_DEBUG_IRQFLAGS=n
CONFIG_PROVE_RCU=n
CONFIG_RCU_EQS_DEBUG=n
CONFIG_PANIC_ON_OOPS=n


# Add ivshmem support
CONFIG_UIO=m
