{
	"target": "linux/amd64",
	"http": ":56741",
	"workdir": "../../out/workdir",
	"kernel_obj": "../../linux",
	"image": "../../image/bullseye.img",
	"sshkey": "../../image/bullseye.id_rsa",
	"syzkaller": "../../src/github.com/google/syzkaller",
	"procs": 8,
	"reproduce": false,
	"type": "qemu",
	"vm": {
		"count": 4,
		"kernel": "../../linux/arch/x86/boot/bzImage",
		"cpu": 2,
		"mem": 4096
	},
	"ignores" : [
		"WARNING: The mand mount option has been deprecated and",
		"WARNING: fbcon: Driver 'bochs-drmdrmfb' missed to adjust virtual screen size*",
		"WARNING: fbcon: Driver 'vkmsdrmfb' missed to adjust virtual screen size*"
	],
		"disable_syscalls" : [
	]
}
